.list {
  width: 100%;
  margin-top: 10px;

  .title {
    color: #fff;
    margin-left: 50px;
    font-size: 24px;
    font-weight: 600;
  }

  .wrapper {
    position: relative;

    .Arrow {
      color: #fff;
      position: absolute;
      background-color: rgba(22, 22, 22, 0.5);
      width: 50px;
      height: 100%;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.right {
        right: 0;
      }
      &.left {
        left: 0;
      }
    }
    .container {
      display: flex;
      align-items: center;
      width: max-content;
      margin-left: 50px;
      transform: translateX(0px);
      margin-top: 10px;
      transition: all 1s ease;
    }
  }
}
